@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #E8E8E8;
    height: fit-content;
    padding-top: 10px;
}

.header {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.triangle{
    height: 0px;
    width: 0px;
    justify-self: center;
    align-self: center;    
    border-right: 3.4rem solid #000;
    border-top: 1.7rem solid transparent;
    border-bottom: 1.7rem solid transparent;
}

.logo__div {
    margin: 0 auto 0;
    width: 23rem;
    height: 6rem;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.logo__div a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.logo__div h1 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2.2rem;
}

.main__div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    gap: 8rem;
}

.main__div h2 {
    width: 30rem;
    font-size: 3rem;
    text-align: center;
    line-height: 4.4rem;
    font-weight: 400;
}

.options__div {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 7rem;
    column-gap: 2rem;
}

.options__div .options__item {
    position: relative;
    display: flex;
    width: 17.5rem;
    height: 17rem;
    background-color: #C3C3C3;
    border-radius: 15px;
    flex-direction: column;
}

.options__item div {
    position: absolute;
    width: 17.5rem;
    height: 17rem;
    border-radius: 15px;
    top: -4rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item--expreso {
    background-image: url('../assets/expreso.jpg');
}
.item--americano {
    background-image: url('../assets/americano.jpg');
}
.item--capuccino {
    background-image: url('../assets/capuccino.jpg');
}
.item--mocca {
    background-image: url('../assets/mocca.png');
}



.options__div p {
    position: absolute;
    bottom: 0;
    align-self: center;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 4rem;
}